* {
	font-family: 'Roboto', sans-serif;
}

html {
	min-height: 100%;
}

body {
	height: 100%;
	min-height: 100%;
	text-align: center;
	background-image:url("background.jpg");
	background-repeat: no-repeat;
	background-position: left;
	background-attachment: fixed;
	-moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.border {
	border: solid 1px #4D4D4D;
}

#namecard {
	height: 15em;
	width: 42em;
	position: absolute;
	display: inline-block;
	top: 25%;
	margin-top: -7.5em;
	margin-left: -21em;
	background-color: #FFFFFF;
}

#top {
	height: 10em;
	width: 100%;
	background-color: #4D4D4D;
	color: white;
}

#bottom {
	color: #4D4D4D;
	padding-top: 1.4em;
	height: 5em;
}

#spacer {
	height: 2em;
}

h1 {
	margin: 0;
	font-weight: 300;
	font-size: 4em;
}

h2 {
	margin: 0;
	font-weight: 300;
	font-size: 1.4em;
}

a {
	color: #4D4D4D;
	text-decoration: none;
	margin: 1.2em;
	font-size: 1.6em;
	font-weight: 500;
	padding: 0;
}

.footer a {
	margin: 0;
	font-size: 1em;
	font-weight: 300;
	text-decoration: underline;
}

emph {
	font-weight: normal;
}

.footer {
	color: #FFFFFF;
	position: absolute;
	bottom: 1em;
	font-weight: 300;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
}
